<section class="w-100 min-vh-100 d-flex flex-column justify-content-center align-items-center">
<h1>LOGIN FORM</h1>
<form class="d-flex flex-column" style="width: 360px;">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="Password">
    <input class="btn btn-dark" type="button" value="Log in" id="login">
</form>
</section>
<script src="/scripts/login.js"></script>