<section class="w-100 min-vh-100 d-flex flex-column justify-content-center align-items-center">
<h1>PROFILE</h1>
<article class="d-flex flex-column" style="width: 360px;">
    <h2 id="nickname"></h2>
    <img id="avatar" alt="avatar">
</article>
</section>
<script src="/scripts/profile.js"></script>