<section class="w-100 min-vh-100 d-flex flex-column justify-content-center align-items-center">
<h1>REGISTER FORM</h1>
<form class="d-flex flex-column" style="width: 360px;">
    <input type="text" name="nickname" id="nickname" placeholder="Nickname">
    <input type="email" name="email" id="email" placeholder="Email">
    <input type="password" name="password" id="password" placeholder="Password">
    <input type="text" name="avatar" id="avatar" placeholder="Avatar">
    <input class="btn btn-dark" type="button" value="Register" id="register">
</form>
</section>
<script src="/scripts/register.js"></script>